---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="plugins" description="AF.POINTS plugins.">
  <section class="text-page">
    <h1>plugins</h1>
    <p>soon.</p>
  </section>
</BaseLayout>
