---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="blog" description="AF.POINTS blog.">
  <section class="text-page">
    <h1>blog</h1>
    <p>soon.</p>
  </section>
</BaseLayout>
